<!-- Services Section -->
    <section id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
                    <h3 class="section-subheading text-muted">Symantec | Samsung | University of Utah | IIT Roorkee Graduate</h3>
                    <p align="justify">Highly motivated and action-oriented professional with strong work ethics. Multi-disciplinary background ranging from the fields of Electronic Hardware Engineering, Communications Engineering to core Software Engineering. Demonstrated strengths in hands-on corporate and lab-based research in Software Development, Algorithms, Data Visualization and Analysis, Scientific Computing etc. I aim to become an industry expert in Computer Science and continue to work and inspire people towards STEM fields.</p>
                    <br>
                    <button class="resume"><a href="https://goo.gl/9XfxWk" target="_blank"><i class="fa fa-download"></i> Resume </a></button>
                </div>
            </div>
        </div>
    </section>