<!-- Services Section -->
    <section id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
                    <h3 class="section-subheading text-muted">Symantec | Samsung | University of Utah | IIT Roorkee Graduate</h3>
                    <p align="justify">Highly motivated and action-oriented professional with strong work ethics. Multi-disciplinary background ranging from the fields of Electronic Hardware Engineering, Communications Engineering to core Software Engineering. Demonstrated strengths in hands-on corporate and lab-based research in Software Development, Data Analysis & Visualization, Scientific Computing etc. I aim to become an industry expert in Computer Science and continue to work and inspire people towards STEM fields.</p>
                    <br>
                    <a href="../files/Resume_Yash_Gangrade_Univ_of_Utah.pdf" target="_blank" download><button class="resume"><i class="fa fa-download"></i> Resume </button></a>
                </div>
            </div>
        </div>
    </section>