<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work Experience and Education</h2>
                    <h3 class="section-subheading text-muted">Timeline of Events</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/symantec.PNG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2018</h4>
                                    <h4 class="subheading">Symantec Corporation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Software Engineering Research Intern in Network Protection Products team</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/utah.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2017 - May 2019</h4>
                                    <h4 class="subheading">University of Utah</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Master of Science in Computer Science with specialization in Data Management, Analysis and Visualization</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/samsung.PNG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2016</h4>
                                    <h4 class="subheading">Samsung Research Institute</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Software Engineering Research Intern at Advanced Technology Labs</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/iitr.PNG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2013 - July 2017</h4>
                                    <h4 class="subheading">Indian Institute of Technology Roorkee</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bachelor of Technology with Major in Electronics and Communication Engineering and Minor in Computer Science and Engineering</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Everything starts here!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>